doctype html
html
    head
        title= title
        script(src='http://connect.soundcloud.com/sdk.js', type='text/javascript')
        script(src='/javascript/index.js', type='text/javascript')
    body
        block content